/**
 * Custom styles for the front-page.php template.
 */

	.excerpt-section {

		padding-right: 24px;
		padding-right: 1.5rem;
		padding-left: 24px;
		padding-left: 1.5rem;
		flex: 0 0 20em;
}

 	.excerptwrap {
		max-width: calc(var(--content-width) * 16)px; /* Fallback for older browsers. */
		max-width: var(--content-width)rem;
		background: #f2f2f2;
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
 }
 	.excerptwrap-heading {
		text-transform: uppercase;
		margin-right: auto;
		margin-left: auto;
		padding-right: 24px;
		padding-right: 1.5rem;
		padding-left: 24px;
		padding-left: 1.5rem;
	 	flex: 1 100%;
}
	.excerptwrap-heading h4 {
		margin: 0;
		border-bottom: 1px solid #939598;
	}
 @media (--sidebar-query) {

	.post {
		margin-bottom: 0;
		padding: 0 2rem;
		border: 1px solid hsl(0, 0%, 50%);
	}

	.post:first-of-type {
		grid-column: span 2;
		margin: 0;
		padding: 0;

	}

	.wp-block-image.alignleft,
	.wp-caption.alignleft {
		margin-left: 0;
	}

	.wp-block-image.alignright,
	.wp-caption.alignright {
		margin-right: 0;
	}

	.entry-footer {
		border-bottom: none;
	}

	.site-main .posts-navigation {
		width: 100%;
		margin-bottom: 0;
		padding: 2rem 0 0;
		border-top: 1px solid #111;
		border-bottom: none;
	}

}
