/**
 * Custom styles for the front-page.php template.
 */
	.postimage {
		opacity: 1;
		margin: 0;
		padding: 40px 1% 30px;
		position: relative;
		width: 100%;
		height: auto;
		background: rgba(51, 102, 58, 0.7);
	}
	.postimage-content {
		margin: 0 auto;
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
	}


	.postimage-content h1 {
		color: aliceblue;
	}
	.excerpt-section {

		padding-right: 24px;
		padding-right: 1.5rem;
		padding-left: 24px;
		padding-left: 1.5rem;
		flex: 0 0 50%;
}

 	.excerptwrap {
		max-width: calc(var(--content-width) * 16)px; /* Fallback for older browsers. */
		max-width: var(--content-width)rem;
		background: #f2f2f2;
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
 }
 	.excerptwrap-heading {
		text-transform: uppercase;
		margin-right: auto;
		margin-left: auto;
		padding-right: 24px;
		padding-right: 1.5rem;
		padding-left: 24px;
		padding-left: 1.5rem;
	 	flex: 1 100%;
}
	.excerpt-section h4 {
		margin-bottom: 0;
	}
	.posted-on {
		font-size: 80%;
	}
	.posted-title {
		text-transform: uppercase;
	}
	.excerptwrap-heading h3 {
		margin-bottom: 0;
		border-bottom: 1px solid #c3c3c3;
	}
	.excerptwrap-footer {
		display: flex;
		flex-flow: row nowrap;
		margin: 0 auto 20px auto;
		flex: 1 100%;
		padding-right: 24px;
		padding-right: 1.5rem;
		padding-left: 24px;
		padding-left: 1.5rem;

	}
 @media (--sidebar-query) {

	.post {
		margin-bottom: 0;
		padding: 0 2rem;
		border: 1px solid hsl(0, 0%, 50%);
	}

	.post:first-of-type {
		grid-column: span 2;
		margin: 0;
		padding: 0;

	}

	.wp-block-image.alignleft,
	.wp-caption.alignleft {
		margin-left: 0;
	}

	.wp-block-image.alignright,
	.wp-caption.alignright {
		margin-right: 0;
	}

	.entry-footer {
		border-bottom: none;
	}

	.site-main .posts-navigation {
		width: 100%;
		margin-bottom: 0;
		padding: 2rem 0 0;
		border-top: 1px solid #111;
		border-bottom: none;
	}

}
