.main-navigation {
	position: absolute;
	top: var(--nav-height);
	left: -100%;
	width: 100%;
	height: calc(100vh - var(--nav-height));
	transition: 0.5s;
	z-index: 9999;
	background: rgba(3, 3, 3, 0.88);
	padding: 1em;

}

.main-navigation.toggled-on {
	left: 0;

}
.menu {
	display: flex;
	flex-flow: column nowrap;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex: 1 0;
}

.menu li {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	flex: 1;
	&:hover {
		background: rgba(var(--menu-hover-background));
	}
}

.sub-menu {
	display: none;
	flex-flow: column wrap;
	align-self: flex-start;
	flex: 1;
}

.sub-menu li {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	flex: 1;
	&:hover {
		background: rgba(var(--menu-hover-background));
	}
	background: #333;
}

.sub-menu.toggle-show {
	display: flex;
}

/*
.main-navigation ul li ul li {
	display: block;
	position: relative;
	width: 100%;
}*/

/*
.main-navigation ul li a {
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	display: block;
}*/
