.main-navigation {
	position: absolute;
	top: var(--nav-height);
	left: -100%;
	width: 100%;
	height: calc(100vh - var(--nav-height));
	transition: 0.5s;
	z-index: 9999;
	background: var(--footer-bg-color);
	color: var(--footer-font-color);
	padding: 1em;
	a {
		text-decoration: none;
	}
}
#primary-menu {
	margin-top: 1em;
		li a {
			text-transform: uppercase;
		}
}
.main-navigation.toggled-on {
	left: 0;
}

#primary-menu li a {
	color: var(--footer-font-color);

	&:active,
	&:focus,
	&:hover {
		color: #fff;
	}
}

.site-search {
	display: block;
	width: calc(100% - 1em);
	padding: 0;
	margin: 0;
	font-size: 1em;
	white-space: nowrap;
	input {
		width: 100%
	}
}

@media (--narrow-menu-query) {

#primary-menu {
	//width: 100%;
	max-width: calc(var(--content-width) * 16)+px;
	max-width: var(--content-width)+rem;
	margin: 0 auto;
	padding: 0;
}

#primary-menu li {
	border-top: 1px solid var(--footer-font-color);
	list-style: none;
	padding: 8px;
	vertical-align: middle;
}

.sub-menu {
	display: none;
}

.sub-menu.toggle-show {
	display: block;
}

button.dropdown-toggle {
	background: transparent;
	color: var(--footer-font-color);
	border: none;
	cursor: pointer;
	float: right;
	font-size: 1em;
	padding: 0;
	}

#primary-menu li.toggled-on button.dropdown-toggle {
	&:active,
	&:focus,
	&:hover {
		color: #fff;
	}
}

} //end narrow-menu-query

@media (--wide-menu-query) {

#primary-menu {
	margin: 0;
	padding: 0;
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
}
.site-search {
	display: none;
}
.menu-all-pages-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: stretch;
}
.column {
	margin: 0;
	padding: 0;
	border-right: 1px solid wheat;

	.dropdown {
		display: none;
	}
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	li a {
	color: var(--footer-font-color);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	&:active,
	&:focus,
	&:hover {
		color: #fff;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li a {
			text-transform: none;
			font-weight: normal;
		}
	}
}
button.dropdown-toggle {
	display:none;
}
}//end wide-menu-query
